<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="../Views/home.html"><img src="../../SPA/Images/logo.PNG" style="width: 20%;"> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../Views/home.html">Home</a>
              </li>
            
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  PRODUCTOS
                </a>
                <!-- esto debemos buscarlo por bd -->
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="../Views/detalleProducto.html">PERROS</a></li>
                  <li><a class="dropdown-item" href="#">GATOS</a></li>
                  <!-- <li><hr class="dropdown-divider"></li>  Para poner una linea en el medio -->
                  <li><a class="dropdown-item" href="#">ACUARIOS</a></li>
                  <li><a class="dropdown-item" href="#">ROEDORES</a></li>
                  <li><a class="dropdown-item" href="#">HURONES</a></li>
                  <li><a class="dropdown-item" href="#">AVES</a></li>
                  <li><a class="dropdown-item" href="#">REPTILES</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">PELUQUERIA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">OFERTAS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">CONTACTO</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
</header>