<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS\boostrap\css\bootstrap.min.css">
    <script src="../CSS/boostrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="../SCRIPTS/app.js" > </script>
    <script src="../SCRIPTS/controllers/HomeController.js" > </script>
    <script src ="../SCRIPTS/angular-ui-router.js"></script>
    <title>Document</title>
</head>
<body ng-app="e-commerce">
    
<div ng-include="'template/header.html'"> </div>

<div ui-view></div>

<div ng-include="'template/footer.html'"> </div>


  
</body>
</html>
